*{
    margin: 0;
    font-family: 'NanumSquareLight';
    font-family: 'NanumSquare';
    font-family: 'NanumSquareBold';
    font-family: 'NanumSquareExtraBold';
    font-family: 'NanumSquareAcb';
    font-family: 'NanumSquareAceb';
    font-family: 'NanumSquareAcl';
    font-family: 'NanumSquareAcr';
}
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {font-family: 'NanumSquare'; width: 100%; padding: 0; max-width: 1920px;}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {

    background-color: rgb(238, 238, 238);
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0c2ae1;
    border-radius: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #5063db; 
  }

#myBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #0c2ae1;
    box-shadow: 0 0 5px #0c28e15e;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

.main {
    margin: 0 auto;
}
.main img {
    width: 100%;
}

#sticky {
    position: sticky;
    top: 350px;
}

#mySidenav a{
    position: absolute;
    right: -70px;
    transition: all 0.8s ease;
    text-align: right;
    padding: 15px 20px 15px 0;
    width: 130px;
    text-decoration: none;
    font-size: 20px;
    color: #0c2ae1;
    border-radius: 15px 0 0 15px;

    
}
#mySidenav a:hover {
    right: 0;
}
#nav1 {
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0 0 7px rgb(218, 218, 218);
}
#nav1 h1 {
    padding-left: 10px;
}
#nav1 img {
    float: left;
    padding-left: 16px;
}
#nav2 {
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0 0 7px rgb(218, 218, 218);
    top: 69px;
}
#nav2 h1 {
    padding-left: 65px;
}
#nav2 img {
    float: left;
    padding-left: 17px;
    padding-top: 3px;
}
#nav3 {
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0 0 7px rgb(218, 218, 218);
    top: 137px;

}
#nav3 h1 {
    padding-top: 1px;
    padding-left: 60px;
}
#nav3 img {
    float: left;
    padding-left: 22px;
    
}
#nav4 {
    background-color: rgba(255, 255, 255, 0.582);
    box-shadow: 0 0 7px rgb(218, 218, 218);
    top: 207px;
}
#nav4 h1 {

    padding-left: 60px;
}
#nav4 img {
    float: left;
    padding-left: 16px;
}
/* ------------------ about me -------------------*/

#about {
    
    margin: 0 auto;
    display: flex;
    margin: 0 auto;
    width: 72.9167%;
    flex-wrap: wrap;

    margin-bottom: 120px;
    padding-top: 120px;
}

/* ------------------ about me / left -------------------*/
.con1_left {
    flex: 50%;
    margin-top: 6.1rem;
    cursor: pointer;
    transition: all 1s ease;
}
.con1_left:hover {
    transform: scale(1.02);
}
.con1_left img {
    float: left;
    width: 100%;
    
    margin-bottom: 60px;
    
}
.con1_left .line {
    float: left;
    margin-right: 42px;
    height: 84px;
    width: 6px;
    background-color: #0c2ae1;
    margin-top: 5px;
}
.con1_middle {
    
    flex: 10%;
}
.con1_left p {
    font-size: 1vw;
    line-height: 1.7;
    color: #5e5e5e;
}

/* ------------------ about me / right -------------------*/
.con1_right {
    flex: 40%;
    
}

.con1_right h1 {
    font-size: 26pt;
    font-weight: 600;
    color: #0c2ae1;
    margin-bottom: 40px;
}
.con1_right h2 {
    font-size: 20pt;
    color: #0c2ae1;
    font-weight: 600;
    margin-bottom: 15px;
    
}
.con1_right ul li {
    font-size: 14pt;
    color: #181818;
    
}
.con1_right ul li span {
    font-size: 14pt;
    color: #7987e4;
    font-weight: 500;
}
.con1_right p {
    font-size: 14pt;
    color: #181818;
    font-weight: 600;
}

.con1_right ul {
    width: 100%;
}
.con1_right #skills li {
    display: inline-block;
    cursor: pointer;
    
    
}

.con1_right #skills span{
    font-size: 13pt;
    color: #0c2ae1;
    font-weight: 600;
    display: list-item;
    text-align: center;
    padding: 0 25px;
    margin-top: 10px;
    
    
}
#percent {
    transition: all 0.3s;
}
#percent:hover {
    transform: scale(0.9);
}

/* ------------------ web -------------------*/

#webDesign {
    width: 100%;
    background-color: #ebedf1;
    height: 1800px;
    opacity: 1;
    overflow: hidden;
}

.con2 {
    width: 72.9167%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-bottom: 120px;
}
.con2title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 140px;
    margin-bottom: 80px;
}
.con2title h1 {
    font-size: 45px;
    font-weight: 600;
    color: #0c2ae1;
}

.con2title span {
    font-size: 45px;
    font-weight: 300;
    color: #0c2ae1;
}
.web img {
    width: 100%;
}
.web {
    position: relative;
}
.web .con2_first {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    
}
#web1 {
    transition: 0.5s;
    animation: show 3s forwards;
    width: 100%;
    height: 100%;
}
#web1:hover {
    width: 102%;
    transform: translate(-10px,-10px);
    cursor: pointer;
}

.web .con2_n1 {
    position: absolute;
    top: 16.5vw;
    left: 0;
    
}
.web .con2_n2 {
    position: absolute;
    top: 33.2vw;
    left: 0;
}
.web .con2_n3 {
    position: absolute;
    top: 50vw;
    left: 0;
}
.web .con2_n4 {
    position: absolute;
    top: 66.7vw;
    left: 0;
}

/* ------------------ mobile -------------------*/

.con3title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 140px;
    margin-bottom: 65px;
}
.con3title h1 {
    font-size: 45px;
    font-weight: 600;
    color: #0c2ae1;
}
.con3title span {
    font-size: 45px;
    font-weight: 300;
    color: #0c2ae1;
}

.mobileDesign {
    width: 100%;
    margin: 0 auto;
    background-image: url(img/mobileBack.jpg);
    background-size: 100%;
}

.con3 {
    width: 78.4%;
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 120px;
    
}
.mobile {
    margin-bottom: 60px;   
}
.mobile img {
    width: 100%;
    display: inline-block;
    float: left;
    height: auto;
    
}
.mo1 {
    position: relative;
    width: 50%;
    float: left;
    padding-top: 20px;
  
  }
.img {transition: .5s ease;
z-index: 5;
opacity: 5;}
.mo1:hover .img {
    opacity: 5;
    cursor: pointer;
    transform: scale(1.02);
    z-index: 5;
    }
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(255, 255, 255, 0.671);
    border-radius: 42px;
    width: 727px;
    height: 420px;
    cursor: pointer;
    z-index: 0;
    text-align: center;    
}
.overlay h1 {
    text-align: center;
    font-size: 25px;
    margin-top: 165px;
    color: #0c2ae1;
    padding: 10px;
    font-weight: 600;
    margin-bottom: 23px;
}
.overlay span {
    text-align: center;
    font-size: 20px;
    color: white;

    background-color: #0c2ae1;
    padding: 14px 35px;
    border-radius: 17px;
}
.left {
  display: block;
  width: 100%;
  height: auto;
}
.right {
    display: block;
    width: 100%;
    height: auto;
  }

.mo1:hover .overlay {
  opacity: 1;
  cursor: pointer;
  transform: scale(1.02);
  z-index: 0;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ------------------ more -------------------*/
.con4title {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: block;
    
}
.con4title h1 {
    font-size: 45px;
    font-weight: 600;
    color: #0c2ae1;
    margin-bottom: 60px;
}
.con4title span {
    font-size: 45px;
    font-weight: 300;
    color: #0c2ae1;
}
.more {
    width: 100%;
    background-color: #ebedf1;
    padding-top: 120px;
    padding-bottom: 140px;
}
.con4 {
    display: flex;
    width: 75.6%;
    margin: 0 auto;
    flex-wrap: wrap;
    position: relative; 
}
.con4 .more2 {
    margin-top: 15px;
}
.con4 img {
    border: solid 2px #adb8f8;
    
}
.more1 {
    /* position: relative; */
    width: 31.2%;
    margin: 10px;
    display: flex;
    cursor: pointer;
}


  .more1:hover .image {
    opacity: 0.3;
    
  }

  .more1:hover .middle {
    opacity: 1;
    z-index: 8;
  }

  .text {

    color: white;
    font-size: 12px;
  }
  .text h1 {
      font-size: 20px;
      font-family: '나눔스퀘어';
  }
  .text p img {
      border: none;
      float: right;
  }
  .we-container {
      position: relative;
  }
.con4Text {
    position: absolute;
    text-align: center;
}
.con4Text h1 {
    font-size: 15pt;
    margin-top: 100px;
}
.con4Text:hover{
    opacity: ;
}
.moreText {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

}
.moreText:hover {
    opacity: 1;
    font-size: 11pt;
}
.w3-modal-content {

}
.modal1 {
    text-align: center;
    margin: 0 auto;
    
}
.modal1 h1 {
    margin-top: 10px;
    font-size: 15pt;
    position: absolute;
    color: white;
    font-weight: 400;
    width: 100%;
}
.out {
    opacity: 1;
}
.out1 {
    position: relative;
    width: 50%;
    cursor: pointer;
  }
  
  .w3-hover-opacity {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .out1:hover .w3-hover-opacity {
    opacity: 0.2;
    cursor: pointer;
  }
  
  .out1:hover .middle {
    opacity: 1;
    cursor: pointer;
  }
  
  .out h1 {
    color: #0c2ae1;
    font-size: 15pt;
    
    margin-bottom: 0;
    line-height: 1.4;
    margin-top: 15px;
  }
  .out span {
    background-color: #0c2ae1;
    color: white;
    padding: 14px 20px;
    font-size: 16pt;
    font-weight: 700;
    
    
  }

/* ------------------ modal -------------------*/

/* ------------------ footer -------------------*/

.footer {
    background-color: #0c2ae1;
    color: white;
    font-size: 12pt;
    
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.con5 {
    width: 90%;
    margin: 0 auto;
}
.footer h1 {
    font-weight: 300;
    margin-bottom: 18px;
    
}
.footer h2 {
    font-weight: 500;
}