* {margin:0; padding:0;border:0;max-width: 720px; font-family: 'NanumSquare';}
body {
    font-family: 'NanumSquare';  margin: 0 auto;
}
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    
}
::-webkit-scrollbar-track {
  background-color: rgb(241, 241, 241);
  box-shadow:  inset 0 0 5px 1px rgb(226, 226, 226);

}
::-webkit-scrollbar-thumb {
  background: #ad4444; 
}
::-webkit-scrollbar-thumb:hover {
  background: #9a3030; 
}

.top {
    background-color: #711919;
}
.top_con {
    width: 89.0625%;
    margin: 0 auto;
    padding-top: 30px;
    padding: 3.1vh 0;
}
.top_con img.nav {
    float: right;
}
.main {
    position: relative;
    font-family: 'NaumSquare';
    height: 418px;
}
.main .main_con {
    width: 89.0625%;
    margin: 0 auto;
}
.main .point {
    position: absolute;
    top: 50px;
}
.main .point ul li {
    float: left;
    margin-right: 10px;
    font-size: 14pt;
    color: rgb(151, 151, 151);
    font-weight: 400;
    font-family: 'NanumSquare';
}
.main .point ul li.last {
    font-weight: 600;
    color: #711919;
}
.main .text {
    position: absolute;
    top: 150px;
    font-family: 'NanumSquare';
}
.main .text h1 {
    font-weight: 800;
    font-size: 50pt;
    color: #831d1d;
    margin-bottom: 45px;
    font-family: 'NanumSquare';
}
.main .text p {
    font-size: 18px;
    color: rgb(138, 138, 138);
    line-height: 27px;
    font-family: 'NanumSquare';
}

.main img {
    width: 100%;
    
}

    
.tab_content {text-align:center; font-size:0;font-family: 'NanumSquare'; }

input[type="radio"] {display:none;}
input[type="radio"] + label {
    display:inline-block;
    padding: 30px 0px;
    background:#ffffff;
    color:rgb(179, 179, 179);
    font-size: 14px;
    cursor:pointer;
    width: 19.58%;
    font-size: 15pt;
    font-weight: 400;
    font-family: 'NaumSquare';
    border: solid 1.5px rgba(230, 230, 230, 0.301);
}
input[type="radio"] + label:hover {
    color: rgb(141, 141, 141);
    transition: all 0.5s;
}
input[type="radio"]:checked + label {
    background:#ffffff;
    color:#831d1d;
    font-size: 15pt;
    font-weight: 600;
    font-family: 'NaumSquare';
    border-bottom: solid 2px #831d1d;
    border-bottom-style: inset;
    transition: color 0.8s;
}
.conbox {
    background:#f3f3f3;
    margin:0; display:none;
    text-align:left; font-size:12px;
    box-sizing:border-box;
    font-family: 'NanumSquare';
}

.con1 {
    padding:20px;
}
.con2 {
    padding:20px;
}
.con3 {
    padding:20px;
}
.con4 {
    padding:20px;
}
.con5 {
    padding:20px;
}


input[id="tab01"]:checked ~ .con1 {display:block; font-family: 'NanumSquare';}
input[id="tab02"]:checked ~ .con2 {display:block; font-family: 'NanumSquare';}
input[id="tab03"]:checked ~ .con3 {display:block; font-family: 'NanumSquare';}
input[id="tab04"]:checked ~ .con4 {display:block; font-family: 'NanumSquare';}
input[id="tab05"]:checked ~ .con5 {display:block; font-family: 'NanumSquare';}

input[id="tab01"]:checked ~ .test1 {display:block; font-family: 'NanumSquare';}
input[id="tab02"]:checked ~ .test2 {display:block; font-family: 'NanumSquare';}

.test1 {
    transform: translate(167px, -472px);
    font-size: 14pt;
    font-family:'NaumSquare';
    font-weight: 600;
    color: #711919;
    
}

.con1 .an {
    background-color: white;
    margin: 0 auto;
    height: 840px;
    margin-top: 20px;
    font-family: 'NanumSquare';
}
.con1 .an .img {
    width: 65.625%;
    padding: 60px 0;
    margin: 0 auto;
}
.con1 .an .img img {
    width: 100%;
}

.con1 .an_1 {
    background-color: white;
    margin: 0 auto;
    height: 1040px;
    margin-top: 20px;
    font-family: 'NanumSquare';
}
.con1 .an_1 .img {
    width: 65.625%;
    padding: 60px 0;
    margin: 0 auto;
}
.con1 .rental .img {
    width: 62.5%;
    padding: 60px 0;
    margin: 0 auto;
}
.con1 .rental3 .img {
    width: 63.125%;
    padding: 60px 0;
    margin: 0 auto;
}
.con1 .rental3 {
    height: 1025px;
}
.con1 .rental4 {
    height: 1025px;
}
.con1 .rental4 .img {
    width: 61.875%;
    padding: 60px 0;
    margin: 0 auto;
}
.con1 .rental5 .img {
    width: 55.78125%;
    padding: 60px 0;
    margin: 0 auto;
}
.con1 .rental5 {
    height: 1030px;
}
.con1 .rental6 .img {
    width: 62.03125%;
    padding: 60px 0;
    margin: 0 auto;
}
.con1 .rental6 {
    height: 1032px;
}
.con1 .an_1 .img img {
    width: 100%;
}
.an_1_con {
    width: 89.0625%;
    margin: 0 auto;
    font-family: 'NaumSquare';
    
}
.an_1_con h2 {
    
    font-size: 20pt;
    font-weight: 600;
    margin-bottom: 12px;
    padding-left: 1px;
    color: #831d1d;
    font-family: 'NanumSquare';
}
.an_1_con h1 {
    font-size: 40pt;
    font-weight: 600;
    margin-bottom: 26px;
    color: #0a0a0a;
    font-family: 'NanumSquare';
}
.an_1_con p {
    font-size: 18pt;
    padding-left: 1px;
    margin-bottom: 30px;
    color: #5e5e5e;
    font-family: 'NanumSquare';
}

.line {
    width: 100%;
    margin: 0 auto;
    border: solid 1px #d2d2d2;
    margin-bottom: 30px;
}
.an_1_con .price {
    font-size: 25pt;
    font-weight: 500;
    font-family: 'NanumSquare';

}
.an_1_con .price h3 {
    display: inline-block;
    float: left;
    font-weight: 600;
    font-family: 'NanumSquare';
}
.an_1_con .price p {
    font-size: 24pt;
    font-weight: 500;
    float: right;
    font-family: 'NanumSquare';
}
.an_1_con .price span {
    font-weight: 600;
    color: #831d1d;
    font-family: 'NanumSquare';
}
.an_1_con .right {
    font-size: 24pt;
    font-weight: 500;
    color: #5e5e5e;
    margin-bottom: 30px;
    text-align: right;
    font-family: 'NanumSquare';
}
.an_1_con .right span {
    font-weight: 600;
    color: #831d1d;
    font-size: 24pt;
    font-family: 'NanumSquare';
}
.an_1_con .price2 {
    font-size: 25pt;
    font-weight: 500;
    width: 100%;
    display: inline-block;
    font-family: 'NanumSquare';
}
.an_1_con .price2 h3 {
    display: inline-block;
    float: left;
    font-weight: 600;
    font-family: 'NanumSquare';
}
.an_1_con .price2 p {
    font-size: 24pt;
    font-weight: 500;
    float: right;
    font-family: 'NanumSquare';
    
}
.an_1_con span2 {
    font-size: 18pt;
    font-weight: 500;
    float: right;
    transform: translateY(20%);
    font-family: 'NanumSquare';
}

.an_1_con .price2 span {
    font-weight: 600;
    color: #831d1d;
    font-family: 'NanumSquare';
}



.con2 .an {
    background-color: white;
    margin: 0 auto;
    height: 840px;
    margin-top: 20px;
    font-family: 'NaumSquare';
}
.con2 .an .img {
    width: 65.625%;
    padding: 60px 0;
    margin: 0 auto;
}
.con2.an .img img {
    width: 100%;
}

.con2 .an_1 {
    background-color: white;
    margin: 0 auto;
    height: 1040px;
    margin-top: 20px;
}
.con2 .an .img {
    width: 64.84375%;
    padding: 60px 0;
    margin: 0 auto;
}
.con2 .bar1 .img {
    width: 64.84375%;
    padding: 60px 0;
    margin: 0 auto;
}
.con2 .bar1 {
    height: 835px;
}
.con2 .bar2 .img {
    width: 65.46875%;
    padding: 60px 0;
    margin: 0 auto;
}
.con2 .bar2 {
    height: 750px;
}
.con2 .bar3 .img {
    width: 65.3125%;
    padding: 60px 0;
    margin: 0 auto;
}
.con2 .bar3 {
    height: 760px;
}


.con2 .an {
    background-color: white;
    margin: 0 auto;
    height: 840px;
    margin-top: 20px;
    font-family: 'NanumSquare';
}
.con2 .an .img {
    width: 65.625%;
    padding: 60px 0;
    margin: 0 auto;
}
.con2.an .img img {
    width: 100%;
}


.con3 .an_1 {
    background-color: white;
    margin: 0 auto;
    height: 1040px;
    margin-top: 20px;
}

.con3 .small1 .img {
    width: 59.375%;
    padding: 60px 0;
    margin: 0 auto;
}
.con3 .small1 {
    height: 835px;
}
.con3 .small2 .img {
    width: 55.46875%;
    padding: 60px 0;
    margin: 0 auto;
}
.con3 .small2 {
    height: 750px;
}
.con3 .small3 .img {
    width: 55.78125%;
    padding: 60px 0;
    margin: 0 auto;
}
.con3 .small3 {
    height: 760px;
}


.con3 .an {
    background-color: white;
    margin: 0 auto;
    height: 840px;
    margin-top: 20px;
}
.con3 .an .img {
    width: 65.625%;
    padding: 60px 0;
    margin: 0 auto;
}
.con3.an .img img {
    width: 100%;
}

.con4 .rip {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 500px;
    font-family: 'NaumSquare';
}
.con4 .rip .line {
    width: 640px;
    
}
.con4 .rip h1 {
    font-size: 14pt;
    font-family: 'NaumSquare';
    margin-top: 290px;
    color: #999999;
}

.con5 {
    background-color: #ffffff;
    margin: 0 auto;
}


.main-title-box1 {
    
    padding-bottom: 30px;
    width: 100%;
    background-color: #f3f3f3;
    padding-top: 80px;
}
.main-title-box2 {
    
    padding-bottom: 30px;
    width: 100%;
    background-color: #ffffff;
    padding-top: 80px;
}

.main-title {
    font-size: 21pt;
    font-family: 'NanumSquare';
    font-weight: 550;
    text-align: center;
    margin-top: 20px;
    color: rgb(56, 56, 56);
    padding-top: 10px;
}
.main-title-box1 div {
    width: 50px;
    margin: 0 auto;
    height: 4px;
    background-color: #831d1d;
}
.main-title-box2 div {
    width: 50px;
    margin: 0 auto;
    height: 4px;
    background-color: #831d1d;
    margin-top: 30px;
}
.main-title-box3 div {
    width: 50px;
    margin: 0 auto;
    height: 4px;
    background-color: #831d1d;
    margin-top: 20px;
}
.main-title-box4 div {
    width: 50px;
    margin: 0 auto;
    height: 4px;
    background-color: #831d1d;
    margin-top: 100px;
}
.main-title-box3 {
    margin-top: 100px;
    margin-bottom: 30px;
}
.main-title-box4 {
    margin-bottom: 50px;
}
.ren2 {
    width: 100%;
}
.ren345 {
    width: 100%;
    margin: 0 auto;
    
}
.ren345 h1 {
    text-align: center;
    font-size: 14pt;
    font-family: 'NaumSquare';
    line-height: 1.5;
    margin-bottom: 50px;
    margin-top: 10px;
    color: rgb(100, 100, 100);
}
.ren345_img img {
    margin: 0 auto;
    width: 100%;
}
.ren345 ul {
}
.ren345 ul li {
    display: inline-block;
    
}
.ren6 {
    margin-bottom: 80px;
}

.qna_con {
    text-align: center;
}
input[id="qna1"]:checked ~ .qna_con1 {display:block;}
input[id="qna2"]:checked ~ .qna_con2 {display:block;}
input[id="qna3"]:checked ~ .qna_con3 {display:block;}

.qna_con input[type="radio"] + label {
    display:inline-block;
    padding: 25px 0px;
    background:#ffffff;
    color:rgb(145, 145, 145);
    font-size: 14px;
    cursor:pointer;
    width: 32.3%;
    font-size: 15pt;
    font-weight: 400;
    font-family: 'NaumSquare';
    border: solid 2px rgba(230, 230, 230, 0.301);
    text-align: center;
}
.qna_con input[type="radio"] + label:hover {
    color: rgb(95, 95, 95);
    transition: all 0.5s;
    
}
.qna_con input[type="radio"]:checked + label {
    background:#ffffff;
    color:#831d1d;
    font-size: 15pt;
    font-weight: 600;
    font-family: 'NaumSquare';
    border-bottom: solid 2px #831d1d;
    border-bottom-style: inset;
    transition: color 0.8s;
    
}
.qnabox {
    background:#f3f3f3;
    margin:0; display:none;
    text-align:left; font-size:12px;
    box-sizing:border-box;
    font-family: 'NanumSquare';
}
.qna_con2 {
    background-color: #ffffff;
}
.qna_con2 img {
    padding-top: 45px;
}
.qna_con1 {
    background-color: #ffffff;
}

.qna_con1 img {
    padding-top: 45px;
}
.qna_con3 img {
    padding-top: 45px;
}
.qna_con3 {
    background-color: #ffffff;
}
.go_top {
        
    background-color: #f3f3f3;
    width: 100%;
    margin: 0 auto;
    float: right;
    text-align: right;
    padding-bottom: 30px;
    padding-top: 30px;

}
.go_top img {
    padding-right: 20px;
    
}
.footer img {
    margin-top: 100px;
    opacity: 1;
    position: absolute;
    display: block;
    width: 100%;
    
}

.footer {
    color: white;
    
}